.Icons {
  .Cell__in {
    padding: 0;
  }
}

.Post {
  margin-top: 10px !important;

  &:first-child {
    margin-top: 0 !important;
  }
}

.MapNavigationButton {
  border-radius: 100px;
  width: 44px;
  height: 44px;
  margin-bottom: 72px;
  margin-right: 12px;
}
