.MapFooter {
  background-color: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.Emojis {
  flex-direction: row;
}

.EmojiWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 3px;
  border-radius: 200px;

  &__badge {
    width: 18px;
    height: 18px;
    position: absolute;
    background-color: #fff;
    right: -4px;
    bottom: -4px;
    border-radius: 100%;
    padding: 3px;
  }
}

.PostFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__actions {
    display: flex;
    justify-content: space-between;

    & > * {
      padding-top: 13px;
      padding-bottom: 13px;
      margin-right: 20px;
    }
  }

  &__views {
    display: flex;
    font-size: 15px;
    color: #A8ADB2;
    padding-top: 13px;
    padding-bottom: 13px;

    .Icon {
      margin-right: 6px;
    }
  }
}
