.TransparentInput {
  .FormField__border {
    background: none !important;
    border: none !important;
  }
}

.Buttons {
  padding-bottom: 12px;

  .Button {
    margin-right: 0 !important;
    border-color: #d7dadb;

    &:last-child {
      margin-right: 12px;
    }

    &__content {
      color: var(--text_secondary) !important;
    }

    svg {
      color: var(--text_secondary) !important;
    }

    &__before-icon {
      margin-right: 8px;
    }

    &__emoji {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
  }
}
