.Emojis {
  display: grid;
  grid-template-columns: repeat(auto-fill, 72px);
  grid-gap: 20px;

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.52;
    transition: opacity 0.15s;

    &--active {
      opacity: 1;
    }
  }

  &__emoji {
    position: relative;
    margin-bottom: 8px;

    .Avatar__in {
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
      border-radius: 100px;

      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  &__badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    position: absolute;
    background-color: #4bb34b;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    padding: 3px;
    transition: opacity 0.15s;
  }
}
